.navbar{
    border: 2px solid #ebe4e4;
    box-shadow: 5px 5px 10px #e3d3d3;;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-item{
    margin-left: 10px;
    box-shadow: 5px 5px 10px #dacff3;
}

.d-flex{
    margin-left: 200px;
}

.sign-up{
    background-color: #c6d8ec;
    border: 1px solid #f0a9d8;
}

.carousel-inner{
    padding: 0px 80px;
    background-color: #e1d2d2;
}

.carousel-item img{
    height: 600px;
    width: 90vw;
}

.carousel-item img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 5px 5px 10px #e3d3d3;
}

.carousel-control-prev-icon{
    color:black;
}